/gradle
gradlew
gradlew.bat
/submission-packages
.autograder
.private
.project
.classpath
.settings
.gradle
.DS_Store
videos
bin
build

/Assignment1/build
/Assignment1/gradle
/Assignment1/lib
/Assignment1/submission-package
/Assignment1/videos
/Assignment1/.autograder
/Assignment1/.gradle
/Assignment1/.idea
/Assignment1/submission-packages

/Assignment1/gradle
/Assignment1/.uuid
/Assignment1/gradlew.bat
/Assignment1/gradlew


/Assignment2/build
/Assignment2/gradle
/Assignment2/lib
/Assignment2/submission-package
/Assignment2/videos
/Assignment2/.autograder
/Assignment2/.gradle
/Assignment2/.idea
/Assignment2/submission-packages
/Assignment2/gradle
/Assignment2/.uuid
/Assignment2/gradlew.bat
/Assignment2/gradlew
